*{
  font-family:  Georgia, 'Times New Roman', Times, serif;
}

.logo {
    width: 10% !important;
    float: right;
}

.nav-font {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-weight: bold;
      font-size: 1.1em;
      
  }



.social{
    width: 20%;
    margin-right: 3%;
    float: left;
}
.folge-uns {
    margin-left: 47%;
    color: azure;
}


body{
    margin: 0;
    padding: 0;
    background-color: #ccc;
}


@media (max-width: 1015px) {
  .socialmedia .social-list {
      transform: scale(0.8);
  }

}

@media (max-width: 768px) {
  .socialmedia .social-list {
      transform: scale(0.7);
  }

}

@media (max-width: 576px) {
  .socialmedia .social-list {
    transform: scale(0.6);
    list-style: none;
    margin: 0 -20px;
}

  

}

.socialmedia{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  
  }
  .socialmedia .social-list{
  list-style: none;
  margin: 0 40px;
  
  }
  .socialmedia .social-list .fa{
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: .5s;
  
  }
  .socialmedia .social-list .a-social{
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgb(0, 0, 0, 0.5);
  }
  .socialmedia .social-list .a-social::before{
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transition: .5s;
  transform: rotate(0deg) skewY(-45deg);
  }
  .socialmedia .social-list .a-social::after{
  content: "";
  position: absolute;
  top: 80px;
  left: -11px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transition: .5s;
  transform: rotate(0deg) skewX(-45deg);
  }
  .socialmedia .social-list .a-social:hover{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
  }
  .socialmedia .social-list:hover .fa{
  color: #fff;
  }
  .socialmedia .social-list .a-social:hover{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgb(0, 0, 0, 0.5);
  }
  .socialmedia .social-list:hover:nth-child(1) .a-social{
  background: #0147af;
  }
  
  .socialmedia .social-list:hover:nth-child(1) .a-social:before{
  background: #0147af;
  }
  .socialmedia .social-list:hover:nth-child(1) .a-social:after{
  background: #0147af;
  }
  .socialmedia .social-list:hover:nth-child(2) .a-social{
  background: #55acee;
  }
  .socialmedia .social-list:hover:nth-child(2) .a-social:before{
  background: #4184b7;
  }
  .socialmedia .social-list:hover:nth-child(2) .a-social:after{
  background: #4d9fde;
  }
  .socialmedia .social-list:hover:nth-child(3) .a-social{
  background: #dd4b39;
  }
  
  .socialmedia .social-list:hover:nth-child(3) .a-social:before{
  background: #c13929;
  }
  .socialmedia .social-list:hover:nth-child(3) .a-social:after{
  background: #e83322;
  }
  
  .socialmedia .social-list:hover:nth-child(4) .a-social{
  background: #0077B5;
  }
  
  .socialmedia .social-list:hover:nth-child(4) .a-social:before{
  background: #036aa0;
  }
  .socialmedia .social-list:hover:nth-child(4) .a-social:after{
  background: #0d82bf;
  }
  
  .socialmedia .social-list:hover:nth-child(5) .a-social{
  background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
  }
  
  .socialmedia .social-list:hover:nth-child(5) .a-social:before{
  background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
  }
  .socialmedia .social-list:hover:nth-child(5) .a-social:after{
  background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
  }
  
  .socialmedia .social-list:hover:nth-child(6) .a-social{
  background: #ad0000;
  }
  
  .socialmedia .social-list:hover:nth-child(6) .a-social:before{
  background: #ad0000;
  }
  .socialmedia .social-list:hover:nth-child(6) .a-social:after{
  background: #ad0000;
  }

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}


/******************************************** munzen page style starts ****************************************************/

.w-20{
    width: 20%;
    margin: 2%;
}
.img-munzen {
    border-radius: 50%;
  }
.container {
    background-color: white;
}

/* {
    box-sizing: border-box;
  }
  
 body {
    background-color: #f1f1f1;
    font-family: Arial;
  }
   */
  /* Center website */
.main {
    max-width: 1000px;
    margin: auto;
  }
  
h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
.row {
    margin: 8px 16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
.column {
    
    float:  left;
    width: 30%;
    display: none; /* Hide columns by default */
  }
  
  /* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
.content {
    background-color: white;
    padding: 10px;
    /* border-radius: 50%; */
    height: 80%;
  }
  
  /* The "show" class is added to the filtered elements */
.show {
    display: block;
  }
  
  /* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 6px 16px;
    background-color: #0d6efd;
    cursor: pointer;
  }
  
  /* Add a grey background color on mouse-over */
.btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background color to the active button */
.btn.active {
    background-color: #0d6efd;
     color: white;
  }





/****** responsive for munzen page: font size and Button *******/
@media (max-width: 576px) {
  .para-uber{
    font-size: 1.5em;
  }
  .sort-btn-all{
    
  }

  .sort-btn{
    margin: 2%;
  }
}

@media (max-width: 375px) {
  .max500{
    font-size: 0.7em;
  }
  .para500{
    font-size: 0.5em;
  }
  .sort-btn{
    width: 145px;
    margin: 10px;
  }
  .sort-btn-all{
    width: 87%;
    margin-left: 3%;
  }
  .para-uber{
    font-size: 0.7;
    padding: 0;
  }
  .max-uber{
    font-size: 1.3em;
  }
 
 
}



/***lightbox for munzen page***/
.gallerys{
  padding: 10px 30px;
}
.gallerys img {
  width: 200px;
  padding: 10px;
  filter: grayscale(100%);
  transition: 1s;
  
}
.gallerys img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
  box-shadow: 5px 2px 5px 0px #3b3b3b;
}

/*********************************************** munzen page style ends ********************************************/





/*********************************************** naehen page style starts ********************************************/

.naehen-title{
  margin-top: 30px;
}
/***lightbox for naehen page***/
.gallery-naeh{
  padding: 10px 30px;
}
.gallery-naeh img {
  width: 200px;
  padding: 10px;
  transition: 1s;
}
.gallery-naeh img:hover {
  transform: scale(1.1);
  box-shadow: 10px 8px 10px 10px #3b3b3b;
}

.img-naeh{
  margin: 50px;
  margin-top: 30px;
  box-shadow: 10px 8px 10px 2px #3b3b3b;
}
/***lightbox for naehen page ends***/

.zubehor{
  text-align: center;
  margin-top: 20px;
  background-color: #e4e4e4;
  box-shadow: 10px 8px 10px 2px #3b3b3b;
  font-family: cursive;
  margin-left: 38%;
  font-size: 2em;
  width: 25% !important;
}

@media (max-width: 1399px){
  .zubehor{
    font-size: 2em;
    width: 30%;
    margin-left: 33%;
  }
  .img-naeh{
    margin: 25px;
  }
}

@media (max-width: 991px){
  .zubehor{
    margin-left: 30%;
    width: 40% !important;
  }
}

@media (max-width: 768px){
  .zubehor{
    width: 55% !important;
    margin-left: 23%;
  }
  .img-naeh{
    margin: 15px;
    width: 40% !important;
  }
  .naehen-title{
    margin-top: 45px;
  }
}

@media (max-width: 576px) {
  
  .zubehor{
    flex: 0 0 auto;
    width: 45% !important;
    font-size: 1.5em;
    margin-left: 22%;
  }
  .img-naeh{
    margin: 0;
    margin-left: 10px;
    width: 40% !important;
  }
  .naehen-title{
    margin-top: 35px;
  }
}

/*********************************************** naehen page style ends ********************************************/




/**************************************************************************************************************************/


/*************Up Button style starts**************/
#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  font-size: 12px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 40px;
}

#myBtn:hover {
  background-color: #555;
}
/*************Up Button style ends**************/



/*************************************************Impressum page starts here**************************************************************/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.contact-parent{
  background: #fff;
  display:flex;
  margin:80px 0;
}

.contact-child{
  display:flex;
  flex:1;
  box-shadow:0px 0px 10px -2px rgba(0,0,0,0.75);
}

.child1{
  /* background-image: url(); */
  background:linear-gradient(rgba(0,0,0,0.901), rgba(0, 0, 0, 0.901)), url('../images/wisam.jpg');
  background-size:cover;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  color:#fff;
  padding:100px 0;
}

.child1 p{
  padding-left:20%;
  font-size:20px;
  text-shadow:0px 0px 2px #000;
}

.child1 p span{
  font-size:16px;
  color:#9df2fd;
}

.child2{
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}

.inside-contact{
  width:90%;
  margin:0 auto;
}

.inside-contact h2{
  text-transform:uppercase;
  text-align:center;
  margin-top:50px;
}

.inside-contact h3{
  text-align:center;
  font-size:16px;
  color:#0085e2;
}

.inside-contact input, .inside-contact textarea{
  width:100%;
  background-color:#eee;
  border:1px solid rgba(0,0,0,0.48);
  padding:5px 10px;
  margin-bottom:20px;
}

.inside-contact input[type=submit]{
  background-color:#000;
  color:#fff;
  transition:0.2s;
  border:2px solid #000;
  margin:30px 0;
}

.inside-contact input[type=submit]:hover{
  background-color:#fff;
  color:#000;
  transition:0.2s;
}

@media screen and (max-width:991px){
  .contact-parent{
      display:block;
      width:100%;
  }

  .child1{
      display:none;
  }

  .child2{
      background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url('../images/wisam.jpg');
      background-size:cover;
  }

  .inside-contact input, .inside-contact textarea{
      background-color:#fff;
  }
}
 /*******************************b-example-divider************************************/ 
 .fixed-divider{
   height: 12.5rem;
  
 }


 @media (max-width: 576px){
   .fixed-divider{
      height: 18rem;
   }
 
 }
/*******************************b-example-divider ends here*******************************/



/******************************************the custom Classes from Bootstrap starts here *******************************/
.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1040;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: rgb(26, 26, 26);
  background-clip: padding-box;
  outline: 0;
  transition: transform 0.3s ease-in-out;
}
.rounded-circle {
  width: 10%;
}
.container-fluid{
  width: 100%;
}
.btn-outline-success {
  margin-right: 0;
  width: 30%;
}
.container {
  background-color: white;
  padding-bottom: 10px;
  width: 100%;
}
/******************************************the custom Classes from Bootstrap ends here ***********************************/




/********************************************** Stretched link in Homepage starts ****************************************/
.card {
  float: left;
  margin: 4%;
  width: 18rem;
}

@media (max-width: 576px){
  .card{
      width: 18rem;
      margin: 0;
  }
 
  /****menu in footer will be hidden by Mobile size****/
  .footer-menu{
    display: none;
  }
/*****mobile footer ends******/

 
}



/********************************************** Stretched link in Homepage ends ******************************************/



.d-flex{
  width: 40%;
}
.active{
  text-decoration: underline;
}


/******************************************************* lesen page starts here ********************************************/
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
/******************************************************* lesen page ends here **********************************************/




/************************************************ About me in Homepage starts here ***************************************************/
.d-block{
  margin-bottom: 20px;
}

.text-about{
  text-decoration: none;
  color: white;
}

.para-about{
  color: #0d6efd;
  
}
/************************************************ About me in Homepage ends here ***************************************************/




/********************************************** The default Width was created from 5% to 95% ******************************************/

.w-5{
  width: 5% !important;
}
.w-10{
  width: 10% !important;
}
.w-15{
  width: 15% !important;
}
.w-20{
  width: 20% !important;
}
.w-30{
  width: 30% !important;
}
.w-35{
  width: 35% !important;
}
.w-40{
  width: 40% !important;
}
.w-45{
  width: 45% !important;
}
.w-55{
  width: 55% !important;
}
.w-60{
  width: 60% !important;
}
.w-65{
  width: 65% !important;
}
.w-70{
  width: 70% !important;
}
.w-80{
  width: 80% !important;
}
.w-85{
  width: 85% !important;
}
.w-90{
  width: 90% !important;
}
.w-95{
  width: 95% !important;
}


/********************************************** The default Width was created from 5% to 95% ******************************************/



/***********************************************here start Accordion and my skills style********************************************/
* {box-sizing:border-box;}

.accordion-button{
  background-color: #b8b7b7;
  font-size: 1.5em;
}

/* Container for skill bars */
.container-skill {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  padding: 0;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: rgb(255, 255, 255); /* White text color */

}
.accordion-title{
  margin: 20px 0px 0px 0px;
  padding: 0;
}

.premiere {width: 60%; background-color: #4CAF50;} /* Green */
.photoshop {width: 50%; background-color: #2196F3;} /* Blue */
.wordpress {width: 40%; background-color: #f15a54;} /* pink */
.office {width: 70%; background-color: #b19102;} /* yellow */
.html {width: 40%; background-color: #8a0795;} /* purple */

/***********************************************here end Accordion and my skills style*************************************************/

